.possibility{
  display:flex;
  flex-direction: row;
  }

  .possibility_image{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    
    margin-right:2rem;
  }
  
  .possibility_image img{

    width:100%;
    height:100%;
  }

  .possibility_content{
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: flex-end;
    align-items:flex-start;

  }

  .possibility_content h4{
font-family: var(--font-family);
color: #71E5FF;
font-size:16;
font-weight: 500;
line-height: 30px;
  }
  .possibility_content h4:last-child{ 
color:#ff8a71
  }
  .possibility_content h1{ 
    font-family: var(--font-family);
margin:1rem 0;
    font-size:34;
    font-weight: 800;
    line-height: 45px;
      }
      .possibility_content p{ 
        font-family: var(--font-family);
    color:var(--color-text);
    margin-bottom:2rem;
        font-size:16px;
        line-height: 30px;
          }


@media screen and (max-width:950px){
  .possibility{
    flex-direction: column;
  }
  .possibility_image{
    margin:1rem 0;
  }

  .possibility_content{
    margin-top:2rem;
  }
}